<div class="menu-breadcrum-container">

    <div class="menu-breadcrumb">
        <a [routerLink]="['../']"> Hogar&nbsp; </a>
        <div> / Minuta Semanal </div>
    </div>

</div>

<div class="header-menu-container">
    <a [routerLink]="['history']" class="header-menu-item flex-center">
        Historial de minutas
    </a>

    <a [routerLink]="['shopping-list']" class="header-menu-item flex-center">
        Lista de compras
    </a>
</div>

<div class="days-menu-container">

    <a [routerLink]="['day']" class="day-item flex-center"> Lunes </a>

    <a [routerLink]="['day']" class="day-item flex-center"> Martes </a>

    <a [routerLink]="['day']" class="day-item flex-center"> Miércoles </a>

    <a [routerLink]="['day']" class="day-item flex-center"> Jueves </a>

    <a [routerLink]="['day']" class="day-item flex-center"> Viernes </a>

    <a [routerLink]="['day']" class="day-item flex-center"> Sábado </a>

    <a [routerLink]="['day']" class="day-item flex-center"> Domingo </a>

</div>