@use '../../../base/variables' as v;
@use '../../../base/mixins' as m;

.layout {
    width: 27.5rem;

    input {

        @include m.input( 100%, 4.5rem, 0px 1.5rem, 1rem , none );

        margin: 0px 0px 5rem 0px;

        &::placeholder {
            font-style: italic;
        }
    }

    a {
        display: block;
        text-align: center;
        margin: 5rem 0px 2.5rem 0px;
        cursor: pointer;
        color: v.$white;

        &:hover {
            color: v.$third;
        }
    }
}