<div class="container layout">

    <!-- <form> -->
    <div>

        <input  class="input"
                type="text"
                placeholder="Username">

        <input  class="input"
                type="email"
                placeholder="Email">

        <input  class="input"
                type="password"
                placeholder="Password">

        <button (click)="register()"> REGISTER </button>

        <a [routerLink]="['/login']"> Login </a>

    </div>
    <!-- </form> -->

</div>