@use '../../../../base/variables' as v;

.walk-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: v.$white;
    border-radius: 0.7rem;
    height: 10rem;
    width: 35rem;
    margin: 1.5rem 0px 0px 0px;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.name-pet {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
}

.pet-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$midGrey;
    padding: 0px v.$separation;
}

.pet-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    margin: v.$separation 0px;
    display: flex;
    gap: v.$separation;
}

.walks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 30rem;
    max-width: 35rem;
    background-color: v.$white;
    border-radius: 0.7rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px v.$separation;
    margin: v.$separation 0px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: v.$midGrey transparent;
}

.price-container {
    width: 100%;
    border-top: 1px solid v.$lightGrey;
    padding: 0px v.$separation;
}

.division-line {
    width: 9rem;
    height: 0.3rem;
    min-height: 0.3rem;
    background-color: v.$primary;
    border-radius: 1rem;
    opacity: 0.75;
    margin: 0.5rem 0px;

}

.total-container {
    display: flex;
    justify-content: space-between;
    gap: v.$separation;
    margin: v.$separation 0px;
}

.walk-date {
    cursor: pointer;
}

.paid-walk {
    color: v.$third;
    cursor: default;
}

.selected-walk {
    color: v.$secondary;
}

.check-button {
    color: v.$secondary;
}