<div class="walk-card-container">

    <div onKeyPress class="card" (click)="toggleData()">

        <div class="name-pet">
            <div> {{ pet.name }} </div>
        </div>

        <div class="pet-comment"> {{ pet.comment }} </div>

    </div>

    @if ( cardExpanded ) {
        <div class="pet-info">
            <div class="btn-container">
                <button (click)="addWalkPet()" class="btn green-btn">
                    <div> Merequetengue! </div>
                    <icon-check></icon-check>
                </button>
                <button onKeyPress class="btn red-btn" (click)="deletePet( pet._id, pet.name )">
                    <div> Eliminar </div>
                    <icon-delete></icon-delete>
                </button>
            </div>

            <div class="date-container">

                @for ( walk of pet.walks; track walk ) {

                    @if ( walk.isNewWeek ) {

                        <div class="division-line"></div>

                    }

                    <div> {{ walk.date }} </div>
                }

            </div>

            @if ( pet.walks.length > 0 ) {

                <div class="total-container">
                    <div> Total: </div>
                    <div> {{ pet.totalPrice | currency }} </div>
                </div>

            }

        </div>
    }

</div>