<div class="walk-card-container">

    <div onKeyPress class="card" (click)="toggleData()">

        <div class="name-pet">
            <div> {{ pet.name }} </div>
        </div>

        <div class="pet-comment"> {{ pet.comment }} </div>

    </div>

    @if ( cardExpanded ) {
        <div class="pet-info">
            <div class="btn-container">
                <!-- <button>
                    Seleccionar  Todo
                </button> -->
                <button (click)="walkPet()" class="btn green-btn">
                    <div> Merequetengue! </div>
                    <app-svg [iconName]="'check'"></app-svg>
                </button>
                <!-- <button>
                    Pagado!
                </button> -->
                <button onKeyPress class="btn red-btn" (click)="deletePet( pet._id, pet.name )">
                    <div> Eliminar </div>
                    <app-svg [iconName]="'delete'"></app-svg>
                </button>
            </div>

            @for ( walk of pet.walks; track pet._id ) {
                <div style="display: flex;">

                    <!-- <input type="checkbox" /> -->
                    <div> {{ walk }} </div>
                </div>
            }

        </div>
    }

</div>