<div class="menu-breadcrum-container">

    <div class="menu-breadcrumb">
        <a [routerLink]="['../']"> Menu&nbsp; </a>
        <div> / Historial </div>
    </div>
    <div class="arrow"></div>

</div>

<div class="menu-history-container flex-center">

    <div class="menu-history-item"> Minuta 06-01-2025</div>
    <div class="menu-history-item"> Minuta 13-01-2025</div>
    <div class="menu-history-item"> Minuta 20-01-2025</div>
    <div class="menu-history-item"> Minuta 27-01-2025</div>

</div>