<nav class="navbar" aria-label="Barra de navegación.">

    <div class="left-navbar">
        <a [routerLink]="['/landing']" class="logo-item">
            <img src="../../../assets/LogoMemories_100x100.png" alt="Logo Memories" width="50" height="50">
            <div> Memories </div>
        </a>
        <a [routerLink]="['recipes']" routerLinkActive="active-link" class="nav-item">Recetas</a>
        <a class="nav-item">Mangas</a>
        <a class="nav-item">Peliculas</a>
        <a [routerLink]="['walks']" routerLinkActive="active-link" class="nav-item">Paseos</a>
    </div>

    <div class="right-navbar">
        <div class="nav-item"> {{userName}} </div>
        <app-svg onKeyPress [iconName]="'logout'" (click)="onLogout()" class="nav-item"></app-svg>
    </div>

    <span onKeyPress (click)="toogleSidebar()" class="menu-logo">
        <app-svg [iconName]="'menu'"></app-svg>
    </span>

</nav>

@if ( showSidebar ) {

    <div onKeyPress class="overlay" (click)="toogleSidebar()"></div>

    <nav class="sidebar" aria-label="Menu lateral.">

        <span onKeyPress (click)="toogleSidebar()" class="close-sidebar">
            <app-svg [iconName]="'close'"></app-svg>
        </span>

        <a [routerLink]="['recipes']" routerLinkActive="active-link" (click)="toogleSidebar()">
            <app-svg [iconName]="'recipes'"></app-svg>
            <div> Recetas </div>
        </a>

        <a>
            <app-svg [iconName]="'mangas'"></app-svg>
            <div> Mangas </div>
        </a>

        <a>
            <app-svg [iconName]="'movies'"></app-svg>
            <div>  Películas </div>
        </a>

        <a [routerLink]="['walks']" routerLinkActive="active-link" (click)="toogleSidebar()">
            <app-svg [iconName]="'walks'"></app-svg>
            <div>  Paseos </div>
        </a>

        <a [routerLink]="['walks']" routerLinkActive="active-link" class="config" (click)="toogleSidebar()">
            <app-svg [iconName]="'settings'"></app-svg>
            <div> Configuración </div>
        </a>

        <span onKeyPress (click)="onLogout(); toogleSidebar()">
            <app-svg [iconName]="'logout'"></app-svg>
            <div> Cerrar Sesión </div>
        </span>

    </nav>

}