<nav class="navbar" aria-label="Barra de navegación.">

    <div class="left-navbar">

        <a [routerLink]="['/landing']" class="logo-item">
            <img src="../../../assets/LogoMemories_100x100.png" alt="Logo Memories" width="50" height="50">
            <div> Memories </div>
        </a>

        <a [routerLink]="['home']" routerLinkActive="active-link" class="nav-item">
            Hogar
        </a>

        <a class="nav-item"> Mangas </a>
        <a class="nav-item"> Peliculas </a>

        <a [routerLink]="['walks']" routerLinkActive="active-link" class="nav-item">
            Paseos
        </a>

    </div>

    <div class="right-navbar">
        <a [routerLink]="['settings']" routerLinkActive="active-link" class="nav-item">
            <icon-settings></icon-settings>
            <div> {{ userName }} </div>
        </a>
        <div class="separation-item nav-item"></div>
        <icon-logout onKeyPress (click)="onLogout()" class="nav-item"></icon-logout>
    </div>

    <span onKeyPress (click)="toogleSidebar()" class="menu-logo">
        <icon-menu></icon-menu>
    </span>

</nav>

@if ( showSidebar ) {

    <div onKeyPress class="overlay" (click)="toogleSidebar()"></div>

    <nav class="sidebar" aria-label="Menu lateral.">

        <span onKeyPress (click)="toogleSidebar()" class="close-sidebar">
            <icon-close></icon-close>
        </span>

        <a [routerLink]="['home']" routerLinkActive="active-link" (click)="toogleSidebar()">
            <icon-home></icon-home>
            <div> Hogar </div>
        </a>

        <a>
            <icon-mangas></icon-mangas>
            <div> Mangas </div>
        </a>

        <a>
            <icon-movies></icon-movies>
            <div>  Películas </div>
        </a>

        <a [routerLink]="['walks']" routerLinkActive="active-link" (click)="toogleSidebar()">
            <icon-walks></icon-walks>
            <div> Paseos </div>
        </a>

        <a [routerLink]="['settings']" routerLinkActive="active-link" class="config" (click)="toogleSidebar()">
            <icon-settings></icon-settings>
            <div> Configuración </div>
        </a>

        <span onKeyPress (click)="onLogout(); toogleSidebar()">
            <icon-logout></icon-logout>
            <div> Cerrar Sesión </div>
        </span>

    </nav>

}