@use '../../../base/variables' as v;

.card-container {
    flex-direction: column;
}

.buttons-container {
    display: flex;
    gap: v.$separation;
}

.price-btn {

    &:hover {
        color: v.$secondary;
    }
}

.add-pet-btn {

    &:hover {
        color: v.$green;
    }
}