<div class="container card-container">

    <div class="buttons-container">
        <button (click)="getWalksPrecios()" class="btn price-btn">
            <div> Precios </div>
            <icon-edit></icon-edit>
        </button>

        <button (click)="addPet()" class="btn add-pet-btn">
            <div> Agregar Mascota </div>
            <icon-plus></icon-plus>
        </button>
    </div>

    @if ( allPets.length === 0 ) {
        <div style="margin: 20px 0 20px 0">Aun no tienes mascotas para pasear</div>
        Agrega una !!
    }
    @else {

        @for ( pet of allPets; track pet._id ) {

            <app-walk-card [pet]="pet" [walksPrice]="walksPrice" (reloadPets)="reloadPets()"></app-walk-card>

        }

    }

</div>