@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$font;
    font-size: 1.6rem;
    background-color: #E3E6E6;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-size: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3 {
    margin: 0 0 v.$separation 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

.container {
    display: flex;
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.center {
    justify-content: center;
}