@use 'variables' as v;
@use 'mixins' as m;

.container {
    display: flex;
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-page {
    padding: 10rem 0px 3rem 0px;
}


// SWALFIRE 2 MODAL
.swal2-modal {
    min-width: fit-content;
    padding: 0px 1rem 2rem 1rem;

    .swal2-title {
        font-size: 2.4rem;
    }

    .swal2-html-container {
        font-size: 1.6rem;
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;

        .modal-input {

            @include m.input( 27.5rem, 4.5rem, 0px 1rem, 1rem, v.$borderInput );
            margin: 0.2rem 0px 1rem 0px;
            box-sizing: border-box;
            transition: box-shadow 0.1s;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.06),0 0 0 3px rgba(0,0,0,0);

            &:focus {
                box-shadow: inset 0 1px 1px
                rgba(0, 0, 0, 0.05),
                0 0 0 3px
                rgba(108, 194, 230, 0.5);
            }
        }

        .modal-date-container {
            width: 27.5rem;
            height: 20rem;
            overflow: auto;
            scrollbar-width: thin;
            scrollbar-color: v.$midGrey transparent;
            border-radius: 1rem;
            border: 1px solid #d9d9d9;
            padding: 0px v.$separation;

            .modal-values-date {
                display: flex;

                .modal-date-input {
                    width: 100%;
                    border: unset;

                    &:focus {
                        outline: none;
                    }
                }
            }

        }

        label {
            margin: 0px 1rem;
        }
    }

    .swal2-actions {
        gap: v.$separation;
        width: 100%;
        font-size: 1.5rem;
        flex-direction: row-reverse;

        .swal2-confirm {
            all: unset;
            @extend .primary-btn;
            width: 20rem !important;
            text-align: center;
            background-color: v.$third;
        }

        .swal2-cancel {
            all: unset;
            @extend .primary-btn;
            width: 20rem !important;
            text-align: center;
            background-color: v.$red !important;
        }
    }
}

.error-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: v.$darkGrey;
    font-size: 2rem;
    font-weight: 500;
}

.error-input {
    outline: 2px solid v.$red;
}

// BUTTONS
.btn {
    all: unset;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    height: 3rem;
    color: v.$darkGrey;
    padding: 1rem;
    background-color: v.$white;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

    div {
        margin: 0px 0.5rem;
    }
}

.primary-btn {
    width: 100%;
    height: 5rem;
    font-weight: 700;
    background-color: v.$third;
    text-decoration: none;
    border: none;
    outline: none;
    color: v.$white;
    border-radius: 1rem;
    transition: background-color .3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    &:hover {
        cursor: pointer;
        background-color: lighten(v.$third, 5);
    }

    &:disabled {
        cursor: default;
        background-color: v.$lightGrey;
    }
}

.hover-btn {

    @include m.desktop {

        &:hover {
            background-color: #eeeeee;
        }
    }
}

.danger-btn {
    color: v.$red;
}

.success-btn {
    color: v.$green;
}

.warn-btn {
    color: v.$secondary;
}

.primary-btn-color {
    color: v.$third;
}

.secondary-btn {
    color: v.$primary;
}


// ANIMACIONES
@keyframes jelly-42 {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}