@use 'variables' as v;

// Media Queries
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

// Elements
@mixin grid( $columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin input( $width, $height, $padding, $border-radius, $border ) {
    width: $width;
    height: $height;
    padding: $padding;
    border-radius: $border-radius;
    border: $border;
    background: v.$white;
    color: v.$darkGrey;
    caret-color: v.$lightGrey;

    &::placeholder {
        color: v.$lightGrey;
    }

    &:focus {
        outline: none;
    }
}