// Fuentes
$font: Roboto, "Helvetica Neue", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #C864E1;
$secondary: #FFC84B;
$third: #6CC2E6;
$white: #FFFFFF;
$lightGrey: #C0C0C0;
$midGrey: #808080;
$darkGrey: #404040;
$black: #000000;
$green: #3CB371;
$red: #E14B64;

// Unidades
$separation: 1rem;
